@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Bree+Serif');

* {margin:0;padding:0;box-sizing:border-box;}
}

body {
	background-color: #6FBFFF;
	border: ;
	padding: ;
}

header {
	background-color: #2f5c7f;
	color: white;
	font-family: 'Alegreya+Sans', serif;
}

nav {
	background-color: #2f5c7f;
	color: white;
	font-family: 'Bree Serif', serif;
	float: right;
	width: 100%;
}

a:hover {
	background:#aaaaaa;
	transition-duration: .25s;
}

footer {
	background-color: #2f5c7f;
	color: white;
	font-family: 'Alegreya+Sans', serif;
	border-style: solid;
	padding: 25px 25px 25px 25px;
}

section {
	padding:4em 0;
	background-color: #FFE2B8;
}

ul {
	padding-left:1.25em;
}

a {
	background-color: #2f5c7f;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;

}

header img {
	width: 80%;
}

#founder img {
	width: 50%;
}

#testimonials img{
	width: 50%;
}

footer img{
	width: 100%;
}


.cta {
	display:inline-block;
	padding:1em 2em;
	background:#6075b2;
	color:#fff;
	text-decoration:none;
	text-align:center;
	width: 12em;
	transition-duration:.25s;
}

.cta:hover {
	background:#bccdff;
}

.logo {
	display: block;
	size: 50%;
}

#intro {
	font-family: 'Bree Serif', serif;
	letter-spacing: 
}

#reasonswhy {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #5e707f;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#testimonials {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #6FBFFF;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#founder {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #96b4cc;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#column1 {
	float: left;
	padding: 2ex; 
	margin: 25px 25px 25px 25px;
}

#column2 {
	padding: 2ex; 
	margin: 25px 25px 25px 25px;
	clear: both;
	text-align: justify;
}

#column4 {
	float: left;
}

#column5 {
	float: left;
}

#column6 {
	float: right;
}

#left {
	padding: 20px;
}

#right {
	background-color: white:
	border: 1px black solid;
	padding: 20px;
}

#contactsection {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #96b4cc;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#owners {
	font-family: 'Bree Serif', serif;
	background-color: #6FBFFF;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#tenants {
	font-family: 'Bree Serif', serif;
	background-color: #96b4cc;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

#about{
	font-family: 'Bree Serif', serif;
	background-color: #6FBFFF;
	padding-left: 40px;
	border: solid;
	margin-top: 20px;
}

@media only screen and (max-width: 800px)

  nav {
    float: none;
  }	

  img {
    width: 230px;
  }




